option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: "postgresql://postgres:EventPass123!@expo-project-prod-db.cvmk8awyksm7.ap-south-1.rds.amazonaws.com:5432/expo_db"
    CLOUDFRONT_DOMAIN: "d2mwpnz04jz48g.cloudfront.net"
    S3_QR_BUCKET: "expo-project-staging-frontend-487003520426"
    NODE_ENV: "staging"
    INVITE_LINK_BASE: "https://d2mwpnz04jz48g.cloudfront.net"
    PORT: "5000"
    PGSSLMODE: "require"
    AWS_REGION: "ap-south-1"
    SES_FROM_EMAIL: "deepak@btsind.com"
    SNS_SENDER_ID: "EXPO"
